/* global.css */
@tailwind base;
@tailwind components;

/* Import the Fredoka One font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/* Apply the font to the entire page */
html, body {
  font-family: 'Fredoka One', sans-serif;
}


/* Style for the Connect Wallet button */
.connect-wallet-button {
  background-color: teal;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.connect-wallet-button:hover {
  background-color: #008080; /* Teal with a darker shade on hover */
}


.hero-title {
  font-weight: bold;
  font-family: "Fredoka One";
  font-size: 7rem;
  
}

.hero-subtitle {
  font-family: sans-serif;
  font-size: 3rem;
}


@tailwind utilities;

